:root {
  --font-serif: 'Merriweather', serif;
  --font-sans: 'Lato', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: 700;
  line-height: 1.3;
}
.map-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}


.floating-line {
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.4));
  transition: filter 0.3s ease;
}
